{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login - Altos de Fontibón</title>
  <link rel="stylesheet" href="{% static 'css/usuario/login.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <link rel="stylesheet" href="{% static 'Usuario/fonts.css' %}">
</head>
<body>
  <div class="container">
    <!-- Imagen izquierda -->
    <div class="image-side">
      <img src="{% static 'IMG/imagen-login.png' %}" alt="Imagen referencial">
    </div>

    <!-- Formulario -->
    <div class="form-side">
      <div class="logo">
        <img src="{% static 'Usuario/IMG/Logo Fontibon.png' %}" alt="Altos de Fontibón">
        <h1>¡Fontibón Contigo!</h1>
        <p>Conoce y gestiona todo sobre tu <br>próximo <b>apartamento</b>.</p>
      </div>

      <form method="POST">
        {% csrf_token %}

        {% for message in messages %}
          <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}

        <div class="input-box">
          <i class="fa fa-user"></i>
          {{ form.numero_documento }}
        </div>

        <div class="input-box">
          <i class="fa fa-lock"></i>
          {{ form.contraseña }}
        </div>

        <div class="btn-box">
        <button class="btn" type="submit">Ingresar</button>
        <a href="{% url 'index' %}" class="btn">Ir al inicio</a>
        </div>
        
        <a href="#" class="forgot">¿Has olvidado tu contraseña?</a>
        <p class="forgot">¿No tienes cuenta? <a href="{% url 'register' %}">Regístrate</a></p>

        <div class="links">
          <a href="#">Términos y condiciones</a> 
          <a href="#">Política de privacidad</a>
        </div>
      </form>
    </div>
  </div>
</body>
</html>
